{% extends "base.twig" %}
{% block content %}
{% set Projects = fetch("Projects") %}

    <div class="home-blok">
        <div class="home-blok-1">
            <div class="home-blok-1-naslov d-flex flex-wrap">Unapredite 
                <div class="home-blok-1-naslov-linija"></div> 
                Vaš internet marketing
            </div>
            <div class="home-blok-1-text">Kreiramo i implementiramo vrhunske online kampanje koje daju rezultat.</div>
            <button class="button-blue">KAKO MI TO RADIMO</button>
            <div class="d-flex">
                <div class="mr-5 home-blok-1-mreza"><img style="margin-top:10px;" src="images/google-icon.svg"/> </div>
                <div class="d-flex home-blok-1-mreza"><img src="images/facebook-icon.svg"/> </div>
            </div>
        </div>
    </div>
    <div class="home-blok2 d-flex flex-column align-items-center">
        <div class="home-blok2-text">Istina je da su potrošači postali zahtevni kao nikada pre, ali marketari nikada nisu imali više mogućnosti da zadovolje njihove potrebe.</div>
        <button style="margin: 0;" class="button-blue">NAŠE USLUGE</button>
    </div>
    <div class="home-blok3 d-flex flex-wrap">
        <div class="home-blok3-naslov w-50 d-flex flex-column">
            <div class="home-blok3-naslov-tit">Projekti</div>
            <div class="home-blok3-naslov-text">Lorem Ipsum is simply dummy text.</div>
            <div class="home-blok3-naslov-linija"></div>
        </div>
        <div class="home-blok3-prazan w-50"></div>
        <div class="grid">
        {% for item in Projects %}
            {% if loop.index < 5 %}
            <div class="grid-projekat">
                <div class="grid-projekat-picture">
                    <img src="img/{{item.Image}}">
                    <div class="grid-projekat-picture-hover">
                        <img class="grid-projekat-picture-hover-logo" src="img/{{item.Logo}}">
                        <div>{{item.Text}}</div>
                        <button>VIŠE</button>
                        <div class="d-flex"> 
                            <img class="grid-projekat-picture-hover-icon" src="images/google-icon.svg"> 
                            <img class="grid-projekat-picture-hover-icon" src="images/facebook-icon.svg"> 
                            <img class="grid-projekat-picture-hover-icon" src="images/instagram-icon.svg"> 
                        </div>
                    </div>
                </div>
                <div class="grid-projekat-opis">
                    <div class="grid-projekat-opis-title">{{item.Title}} </div>
                    <div class="grid-projekat-opis-text">{{item.Text}}</div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center home-blok4">
        <button style="margin: 0;" class="button-blue">VIŠE</button>
    </div>
{% endblock %}